In [2]:
import pandas as pd

In [3]:
print("--- Starting Data Cleaning Process ---")
df = pd.read_csv('hotel_bookings.csv')

--- Starting Data Cleaning Process ---

In [4]:
print("--- Initial Data State ---")
print(f"Shape (Rows, Columns): {df.shape}")
print("\nMissing Values per Column:")
print(df.isnull().sum())
print(f"\nNumber of Duplicate Rows: {df.duplicated().sum()}")
df.info()
# --- Numerical Data Summary (to find outliers) ---
print("\nSummary Statistics for Numerical Columns:")
print(df.describe())


# Store initial stats for final comparison
initial_rows = df.shape[0]
initial_cols = df.shape[1]

--- Initial Data State ---
Shape (Rows, Columns): (119390, 32)

Missing Values per Column:
hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Number of Duplicate Rows: 31994
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

Summary Statistics for Numerical Columns:
         is_canceled      lead_time  arrival_date_year  \
count  119390.000000  119390.000000      119390.000000
mean        0.370416     104.011416        2016.156554
std         0.482918     106.863097           0.707476
min         0.000000       0.000000        2015.000000
25%         0.000000      18.000000        2016.000000
50%         0.000000      69.000000        2016.000000
75%         1.000000     160.000000        2017.000000
max         1.000000     737.000000        2017.000000

       arrival_date_week_number  arrival_date_day_of_month  \
count             119390.000000              119390.000000
mean                  27.165173                  15.798241
std                   13.605138                   8.780829
min                    1.000000                   1.000000
25%                   16.000000                   8.000000
50%                   28.000000                  16.000000
75%                   38.000000                  23.000000
max                   53.000000                  31.000000

       stays_in_weekend_nights  stays_in_week_nights         adults  \
count            119390.000000         119390.000000  119390.000000
mean                  0.927599              2.500302       1.856403
std                   0.998613              1.908286       0.579261
min                   0.000000              0.000000       0.000000
25%                   0.000000              1.000000       2.000000
50%                   1.000000              2.000000       2.000000
75%                   2.000000              3.000000       2.000000
max                  19.000000             50.000000      55.000000

            children         babies  is_repeated_guest  \
count  119386.000000  119390.000000      119390.000000
mean        0.103890       0.007949           0.031912
std         0.398561       0.097436           0.175767
min         0.000000       0.000000           0.000000
25%         0.000000       0.000000           0.000000
50%         0.000000       0.000000           0.000000
75%         0.000000       0.000000           0.000000
max        10.000000      10.000000           1.000000

       previous_cancellations  previous_bookings_not_canceled  \
count           119390.000000                   119390.000000
mean                 0.087118                        0.137097
std                  0.844336                        1.497437
min                  0.000000                        0.000000
25%                  0.000000                        0.000000
50%                  0.000000                        0.000000
75%                  0.000000                        0.000000
max                 26.000000                       72.000000

       booking_changes          agent      company  days_in_waiting_list  \
count    119390.000000  103050.000000  6797.000000         119390.000000
mean          0.221124      86.693382   189.266735              2.321149
std           0.652306     110.774548   131.655015             17.594721
min           0.000000       1.000000     6.000000              0.000000
25%           0.000000       9.000000    62.000000              0.000000
50%           0.000000      14.000000   179.000000              0.000000
75%           0.000000     229.000000   270.000000              0.000000
max          21.000000     535.000000   543.000000            391.000000

                 adr  required_car_parking_spaces  total_of_special_requests
count  119390.000000                119390.000000              119390.000000
mean      101.831122                     0.062518                   0.571363
std        50.535790                     0.245291                   0.792798
min        -6.380000                     0.000000                   0.000000
25%        69.290000                     0.000000                   0.000000
50%        94.575000                     0.000000                   0.000000
75%       126.000000                     0.000000                   1.000000
max      5400.000000                     8.000000                   5.000000

Key Data Quality Issues Found:

Missing Values:

company: Over 94% of values are missing. This likely indicates direct bookings, not missing data.

agent: Nearly 14% of values are missing, also likely indicating direct bookings.

country: A small number of rows (488) are missing the country code.

children: Four rows have missing values for the number of children.

Duplicate Data:

There are 31,994 complete duplicate rows in the dataset, which can significantly skew any analysis.

Incorrect Data Types:

children, agent, and company are stored as float types but should be integer types.

The reservation_status_date column is stored as a generic object (string) instead of a datetime object.

Structural Issues:

The arrival date is split across three separate columns (arrival_date_year, arrival_date_month, arrival_date_day_of_month), making date-based calculations difficult.

Invalid or Illogical Values:

There are bookings with a total of zero guests (adults, children, and babies are all 0).

At least one booking has a negative Average Daily Rate (ADR), which is impossible.

In [8]:
print("--- Handling Missing Values ---")

df['company'] = df['company'].fillna(0)
df['agent'] = df['agent'].fillna(0)
df['children'] = df['children'].fillna(0)

# Drop rows where 'country' is missing
df.dropna(subset=['country'], inplace=True)

# --- AFTER ---
print(f"Shape After: {df.shape}")
print("\nMissing Values After Handling (showing key columns):")
print(df[['country', 'agent', 'company', 'children']].isnull().sum())

--- Handling Missing Values ---
Shape After: (118902, 32)

Missing Values After Handling (showing key columns):
country     0
agent       0
company     0
children    0
dtype: int64

In [9]:
print("--- Removing Duplicates ---")
print(f"Shape Before: {df.shape}")
print(f"Number of Duplicates: {df.duplicated().sum()}")

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# --- AFTER ---
print(f"Shape After: {df.shape}")
print(f"Number of Duplicates After: {df.duplicated().sum()}")

--- Removing Duplicates ---
Shape Before: (118902, 32)
Number of Duplicates: 31958
Shape After: (86944, 32)
Number of Duplicates After: 0

In [10]:
print("--- Correcting Data Types ---")
print("Data Types Before:")
print(df[['children', 'agent', 'company']].dtypes)

# Convert columns to integer
df[['children', 'agent', 'company']] = df[['children', 'agent', 'company']].astype(int)
# Convert reservation_status_date to datetime
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

print("\nData Types After:")
print(df[['children', 'agent', 'company']].dtypes)

--- Correcting Data Types ---
Data Types Before:
children    float64
agent       float64
company     float64
dtype: object

Data Types After:
children    int64
agent       int64
company     int64
dtype: object

In [11]:
print("--- Creating Unified Date Column ---")
print("Columns Before:", [col for col in df.columns if 'date' in col])

# Create the unified 'arrival_date' column
df['arrival_date'] = pd.to_datetime(
    df['arrival_date_year'].astype(str) + '-' +
    df['arrival_date_month'].astype(str) + '-' +
    df['arrival_date_day_of_month'].astype(str),
    errors='coerce' # Handle potential conversion errors gracefully
)

# Drop the original date component columns
df.drop(['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'], axis=1, inplace=True)

print("Columns After:", [col for col in df.columns if 'date' in col])

--- Creating Unified Date Column ---
Columns Before: ['arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'reservation_status_date']
Columns After: ['arrival_date_week_number', 'reservation_status_date', 'arrival_date']

In [12]:
print("--- Removing Invalid Data ---")
print(f"Shape Before: {df.shape}")

# Filter out bookings with zero guests
df = df[~((df['adults'] == 0) & (df['children'] == 0) & (df['babies'] == 0))]

# Filter out bookings with a negative ADR
df = df[df['adr'] >= 0]

# --- AFTER ---
print(f"Shape After: {df.shape}")

--- Removing Invalid Data ---
Shape Before: (86944, 30)
Shape After: (86782, 30)

In [13]:
# Feature Engineering
df['total_guests'] = df['adults'] + df['children'] + df['babies']
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

# Reset the DataFrame index
df.reset_index(drop=True, inplace=True)

In [14]:
# --- FINAL SUMMARY ---

print("--- Final Cleaning Summary ---")

print(f"Initial Shape: ({initial_rows}, {initial_cols})")

print(f"Final Shape: ({df.shape[0]}, {df.shape[1]})")

rows_removed = initial_rows - df.shape[0]

print(f"Total Rows Removed: {rows_removed} ({rows_removed / initial_rows:.2%})")

--- Final Cleaning Summary ---
Initial Shape: (119390, 32)
Final Shape: (86782, 32)
Total Rows Removed: 32608 (27.31%)

In [15]:
# Export the cleaned DataFrame

df.to_csv("hotel_bookings_cleaned.csv", index=False)



print("\nCleaned data exported successfully.")

print("\n---Data Cleaning Complete ---")

Cleaned data exported successfully.

---Data Cleaning Complete ---